<div class="p-2">
  <div class="header_container">
    <h4>Add Resource</h4>
    <ion-icon name="close" (click)="setClose()" class="align-self-center"></ion-icon>
  </div>
  <form [formGroup]="resourceform" (ngSubmit)="onSubmit(resourceform)">
    <ion-list lines="none">
      <ion-item>
        <ion-col size="12">
          <app-searchable-dropdown [dropDownData]="resourceDropDownData"
            (dropDownEvent)="resourceDropDownEvent($event)"></app-searchable-dropdown>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="12">
          <app-searchable-dropdown [dropDownData]="stageDropDownData"
            (dropDownEvent)="stageDropDownEvent($event)"></app-searchable-dropdown>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="12">
          <app-searchable-dropdown [dropDownData]="statusDropDownData"
            (dropDownEvent)="statusDropDownEvent($event)"></app-searchable-dropdown>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" size="default" type="submit">Add</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </form>
</div>