@import "../../../theme/theme.scss";

.shadow {
    -webkit-box-shadow: 4px 6px 13px 5px gray gray;
    -moz-box-shadow: 4px 6px 13px 5px gray gray;
    box-shadow: 4px 6px 13px 5px gray gray;
}

.card-user-info {
    display: flex;
    flex-direction: column;
    line-height: 22px;
    padding: 11px;
}

.user{
    @include userName;
}
.user-label{
    @include userOtherInfo;
}

.user-status{
    @include userStatus;
}


ion-card{
    width: 100%;
}

.back-icon{
    width: $width;
    height: $height;
}

ion-modal#change-modal {
    --width: fit-content;
    --min-width: 300px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  ion-modal#change-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal#change-modal ion-icon {
    margin-right: 6px;
  
    width: 48px;
    height: 48px;
  
    padding: 4px 0;
  
    color: #aaaaaa;
  }
  
  ion-modal#change-modal .wrapper {
    margin-bottom: 10px;
  }