:root {
    --main-menu-bg: #050579;
}

$font-weight: 600;
$curve-size: 47px;
$profile-bg: #b5b7cd;
$profile-border-radious: 50px;
$white: #ffff;
$dark-blue: var(--main-menu-bg);
$light-blue: #0303B0;
$display: flex;
$center-align-items: center;
$justify-content-space-between: space-between;
$justify-content-center: center;
$flex-direction-column: column;
$flex-end:end;
/**
* Icon sizes
*/
$width: 32px;
$height: 34px;

/**
* component Header
*/
$header-font-size: 1.5em;
$header-font-weight: 600;


@mixin centerElement {
    display: $display;
    flex-direction: $flex-direction-column;
    align-items: $center-align-items;
    justify-content: $justify-content-center;
}

@mixin userName {
    font-size: 1.2em !important;
    color: black !important;
    margin-bottom: 8px;
    font-weight: 500;
}

@mixin userStatus {
    font-size: 0.8em !important;
    color: gray !important;
    margin-bottom: 8px;
    font-weight: 400;
}

@mixin userOtherInfo {
    font-size: 1em !important;
    font-weight: 400 !important;
    color: grey !important;
}

@mixin status-text{
    font-size: 0.8em;
    font-weight: 200;
    color: $color-gray;
}
