<div class="p-2">
  <div class="skill_pophead">
    <h4>Add Skill</h4>
    <ion-icon name="close" size="default" (click)="setClose()" class="align-self-center"></ion-icon>
  </div>
  <form [formGroup]="addform" (ngSubmit)="onSubmit(addform)">
    <ion-list lines="none">
      <ion-item>
        <app-searchable-dropdown [dropDownData]="skillDropDownData"   [selectedData]="skillSelectedDropDownData" (dropDownEvent)="skillSelectedEvent($event)"
        class="search-dropdown-padding"></app-searchable-dropdown>
      </ion-item>
      <ion-item *ngIf="flag=='Resource'|| flag== 'Requirement' || flag == 'partner'">
        <ion-input class="inputTxt" type="number" fill="outline" labelPlacement="floating" placeholder="Enter Relevant Experience"
          formControlName="relevant_experience" errorText="Invalid relevant experience" required>
          <div slot="label">Relevant Experience<ion-text color="danger"> *</ion-text></div>
        </ion-input>
      </ion-item>
      <ion-item *ngIf="flag=='Resource'">
        <app-searchable-dropdown [dropDownData]="ratingDropDownData"   [selectedData]="ratingSelectedDropDownData" (dropDownEvent)="ratingSelectedEvent($event)"
        class="search-dropdown-padding"></app-searchable-dropdown>
      </ion-item>
      <ion-item *ngIf="flag==''">
        <app-searchable-dropdown [dropDownData]="ratingDropDownData"   [selectedData]="ratingSelectedDropDownData" (dropDownEvent)="specialisedSelectedEvent($event)"
        class="search-dropdown-padding"></app-searchable-dropdown>
      </ion-item>
      <ion-item *ngIf="flag=='Resource'">
        <ion-toggle formControlName="primary_skill_ind">Primary Skill</ion-toggle>
      </ion-item>
      <ion-item *ngIf="flag=='Requirement'">
        <ion-toggle formControlName="mandatory_skill">Mandatory</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" size="default" type="submit">Add</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </form>

</div>