<div class="p-2">
  <div class="skill_pophead">
    <h4>Add Partner</h4>
    <ion-icon name="close" size="default" (click)="setClose()" class="align-self-center"></ion-icon>
  </div>
  <form [formGroup]="addform" (ngSubmit)="onSubmit(addform)">
    <ion-list lines="none">
      <ion-item>
        <ion-select class="always-flip" label-placement="floating" fill="outline" toggleIcon="caret-down-sharp"
          interface="popover" placeholder="Select Partner" formControlName="partner_id" errorText="Invalid Partner" required>
          <div slot="label">Select Partner<ion-text color="danger"> *</ion-text></div>
          <ion-select-option *ngFor="let partner of partnerList"
            value={{partner.partner_id}}>{{partner.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="date" fill="outline" labelPlacement="floating" placeholder="Enter Shared On Date"
          formControlName="shared_on" errorText="Invalid Shared On Date">
          <div slot="label">Shared On Date<ion-text color="danger"> *</ion-text></div>
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" size="default" type="submit">Add</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </form>

</div>