<ion-content [fullscreen]="true">
  <form [formGroup]="clientForm">
    <ion-grid>
      <ion-row>
        <ion-input label-placement="floating" formControlName="name" fill="outline">
          <ion-text slot="label">Name<ion-text color="danger"> *</ion-text></ion-text>
        </ion-input>
        <ion-label
          *ngIf="clientForm.controls['name'].invalid && (clientForm.controls['name'].dirty || clientForm.controls['name'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="clientForm.controls['name'].errors?.['required'] ">
            This field is required.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-input label-placement="floating" formControlName="contact_person_name" fill="outline">
          <ion-text slot="label">Contact Person Name<ion-text color="danger"> *</ion-text></ion-text>
        </ion-input>
        <ion-label
          *ngIf="clientForm.controls['contact_person_name'].invalid && (clientForm.controls['contact_person_name'].dirty || clientForm.controls['contact_person_name'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="clientForm.controls['contact_person_name'].errors?.['required'] ">
            This field is required.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-input label-placement="floating" formControlName="contact_person_email_id" fill="outline">
          <ion-text slot="label">Contact Person Email Id<ion-text color="danger"> *</ion-text></ion-text>
        </ion-input>
        <ion-label
          *ngIf="clientForm.controls['contact_person_email_id'].invalid && (clientForm.controls['contact_person_email_id'].dirty || clientForm.controls['contact_person_email_id'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="clientForm.controls['contact_person_email_id'].errors?.['required']">
            This field is required.
          </ion-label>
          <ion-label *ngIf="clientForm.controls['contact_person_email_id'].errors?.['email']">
            Enter valid e-mail.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-input type="number" label-placement="floating" formControlName="contact_person_phone" fill="outline">
          <ion-text slot="label">Contact Person Phone<ion-text color="danger"> *</ion-text></ion-text>
        </ion-input>
        <ion-label
          *ngIf="clientForm.controls['contact_person_phone'].invalid && (clientForm.controls['contact_person_phone'].dirty || clientForm.controls['contact_person_phone'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="clientForm.controls['contact_person_phone'].errors?.['required'] ">
            This field is required.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-select label-placement="floating" interface="popover" formControlName="ownership_id" fill="outline"
          aria-label="user" placeholder="Select User">
          <ion-text slot="label">Ownership Name</ion-text>
          <ion-select-option *ngFor="let user of userList  | duplicateRemover"
            value={{user.user_id}}>{{user.name}}</ion-select-option>
        </ion-select>
      </ion-row>
      <ion-row>
        <ion-input label-placement="floating" formControlName="sales_person_name" fill="outline">
          <ion-text slot="label">Sales Person Name</ion-text>
        </ion-input>
      </ion-row>
      <ion-row>
        <ion-input label-placement="floating" formControlName="sales_person_email_id" fill="outline">
          <ion-text slot="label">Sales Person Email Id</ion-text>
        </ion-input>
        <ion-label
          *ngIf="clientForm.controls['sales_person_email_id'].invalid && (clientForm.controls['sales_person_email_id'].dirty || clientForm.controls['sales_person_email_id'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="clientForm.controls['sales_person_email_id'].errors?.['email']">
            Enter valid e-mail.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-input label-placement="floating" type="number" formControlName="sales_person_phone" fill="outline">
          <ion-text slot="label">Sales Person Phone</ion-text>
        </ion-input>
      </ion-row>
      <ion-row>
        <ion-input label-placement="floating" formControlName="finance_person_name" fill="outline">
          <ion-text slot="label">Finance Person Name</ion-text>
        </ion-input>
      </ion-row>
      <ion-row>
        <ion-input label-placement="floating" formControlName="finance_person_email_id" fill="outline">
          <ion-text slot="label">Finance Person Email Id</ion-text>
        </ion-input>
        <ion-label
          *ngIf="clientForm.controls['finance_person_email_id'].invalid && (clientForm.controls['finance_person_email_id'].dirty || clientForm.controls['finance_person_email_id'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="clientForm.controls['finance_person_email_id'].errors?.['email']">
            Enter valid e-mail.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-input label-placement="floating" type="number" formControlName="finance_person_phone" fill="outline">
          <ion-text slot="label">Finance Person Phone</ion-text></ion-input>
      </ion-row>
      <ion-row>
        <ion-textarea label-placement="floating" formControlName="strength" fill="outline">
          <ion-text slot="label">Strength<ion-text color="danger"> *</ion-text></ion-text>
        </ion-textarea>
        <ion-label
          *ngIf="clientForm.controls['strength'].invalid && (clientForm.controls['strength'].dirty || clientForm.controls['strength'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="clientForm.controls['strength'].errors?.['required'] ">
            This field is required.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-textarea label-placement="floating" formControlName="address" fill="outline">
          <ion-text slot="label">Address<ion-text color="danger"> *</ion-text></ion-text>
        </ion-textarea>
        <ion-label
          *ngIf="clientForm.controls['address'].invalid && (clientForm.controls['address'].dirty || clientForm.controls['address'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="clientForm.controls['address'].errors?.['required'] ">
            This field is required.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-card class="w-100">
        <ion-row>
          <ion-col class="card-user-info ">
            <ion-row class="d-flex justify-content-between">
              <ion-label class="skill-heading">Skills <ion-text color="danger"> *</ion-text></ion-label>
              <ion-label *ngIf="flag != 'edit'"><ion-icon class="add-icon" id="open-custom-dialog" expand="block"
                  name="add-circle-outline"></ion-icon></ion-label>
            </ion-row>
            <ion-row>
              <ion-item-sliding *ngFor="let skill of selectedSkillIds; let i = index" #sliding>
                <ion-item id="open-modal" expand="block">
                  <ion-col class="skill-list d-flex justify-content-between w-100">
                    <div>
                      <ion-label class="w-100 skill-heading">{{skill.description}}</ion-label>
                    </div>
                  </ion-col>
                </ion-item>
                <ion-item-options side="end" *ngIf="flag != 'edit'">
                  <ion-item-option color="light" (click)="deleteSkill(i)">
                    <ion-icon slot="icon-only" name="trash" name="trash-outline" size="small" color="danger"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>

    <ion-modal id="skill-modal" [isOpen]="isModalOpen" showBackdrop="false" backdropDismiss="false" #modal
      trigger="open-custom-dialog">
      <ng-template>
        <div class="wrapper">
          <div class="skill_pophead">
            <h4>Add Skill</h4>
            <ion-icon name="close" size="default" (click)="setClose()" class="align-self-center"></ion-icon>
          </div>
          <ion-list lines="none">
            <ion-item button="true">
              <ion-select detail="false" interface="popover" (ionChange)="handleSkillChange()"
                label-placement="floating" formControlName="skill_id" fill="outline" aria-label="user"
                placeholder="Select User">
                <ion-select-option *ngFor="let skill of skillList"
                  value={{skill.skill_id}}>{{skill.category}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-grid>
                <ion-row class="skill-add">
                  <ion-col>
                    <ion-button expand="block" (click)="addSkill()">Add</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </div>
      </ng-template>
    </ion-modal>
  </form>
</ion-content>