<ion-toolbar>
  <ion-buttons class="justify-content-around">
    <ion-button [routerLink]="['/folder/inbox']">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/folder/outbox']">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/folder/favorites']">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/folder/trash']">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>