<ion-content [fullscreen]="true">
  <section style="height: 100%;">
    <ion-grid class="login_background">
      <ion-row class="login_header">
        <img src="../../../assets/icon/logo.png" alt="log" style="width: 39%;">
        <h2 class="header_text">GRAMENER</h2>
        <ion-label>Resource Management System</ion-label>
      </ion-row>
    </ion-grid>
    <ion-grid class="login_model">
      <ion-row class="login_data_container">
        <h4 class="admin_login">Admin</h4>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="item_list">
          <form [formGroup]="loginForm" novalidate autocomplete="true">
            <ion-item>
              <ion-input label="User Name" class="input_field" formControlName="userName" labelPlacement="floating"
                placeholder="Enter text"></ion-input>
            </ion-item>
            <ion-label
              *ngIf="loginForm.controls['userName'].invalid && (loginForm.controls['userName'].dirty || loginForm.controls['userName'].touched) || !onSubmit"
              class="alert alert-danger">
              <ion-label *ngIf="loginForm.controls['userName'].errors?.['required'] ">
                Name is required.
              </ion-label>
            </ion-label>
            <ion-item>
              <ion-input label="Password" formControlName="password" class="input_field" type={{passwordInputType}}
                id="password_parent" class="password_feiled" labelPlacement="floating"></ion-input>
              <span (click)="passwordShow()" id="password_child">
                <ion-icon name="eye-off-outline" *ngIf="!showPasswordText" slot="end"></ion-icon>
                <ion-icon name="eye-outline" *ngIf="showPasswordText" slot="end"></ion-icon>
              </span>
            </ion-item>
            <ion-label slot="bottom"
              *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched) || !onSubmit"
              class="alert alert-danger">
              <ion-label *ngIf="loginForm.controls['password'].errors?.['required'] ">
                Password is required.
              </ion-label>
            </ion-label>
          </form>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-button type="submit" shape="round" class="login_btn" (click)="submit()">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>