.primary_skill_list {
    background: #2289333B;
    display: flex;
    align-items: center;
    border-radius: 8px;
  }
  
  .secondary_skill_list {
    background: #aeb1b83b;
    display: flex;
    align-items: center;
    border-radius: 8px;
  }