@import "../../../theme/theme.scss";

.shadow {
    -webkit-box-shadow: 4px 6px 13px 5px gray gray;
    -moz-box-shadow: 4px 6px 13px 5px gray gray;
    box-shadow: 4px 6px 13px 5px gray gray;
}

.card-user-info {
    display: flex;
    flex-direction: column;
    line-height: 22px;
    padding: 11px;
}

.user {
    @include userName;
}

.user-label {
    @include userOtherInfo;
}

ion-card {
    width: 100%;
}

.back-icon {
    width: $width;
    height: $height;
}

.header-text {
    font-size: $header-font-size;
    font-weight: $header-font-weight
}

.header-search-container {
    display: $display;
    align-items: $center-align-items;
    justify-content: $justify-content-space-between;
}

.search-icon {
    width: $width;
    height: $height;
}