/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import "src/theme/theme.scss";

@import "src/theme/common.scss";

ion-accordion-group {
    ion-accordion {
        .ion-accordion-toggle-icon {
            color: white;
        }
    }

    ion-item {
        .item-native {
            padding-inline-start: 0px;
        }
    }

}

.alert-danger {
    color: rgb(206, 12, 12);
    background: white;
    border: none;
    width: 100%;
    padding-left: 2px;
    padding-top: 5px;
}

.searchbar-input-container {
    border: 1px solid !important;
}

.nodata-found {
    text-align: $justify-content-center;
    font-weight: 700;
    width: 100%;

    h5 {
        font-weight: 700;
        font-size: 1.5em;
    }
}

.skill-list {
    background: rgb(150 150 165 / 23%);
    display: $display;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
}

.shadow {
    -webkit-box-shadow: 4px 6px 13px 5px gray gray;
    -moz-box-shadow: 4px 6px 13px 5px gray gray;
    box-shadow: 4px 6px 13px 5px gray gray;
}

.card-user-info {
    display: $display;
    flex-direction: $flex-direction-column;
    line-height: 22px;
    padding: 11px;
}

.center-icon {
    @include centerElement();
}

.user {
    @include userName;
}

.user-label {
    @include userOtherInfo;
}

.user-status {
    @include userStatus;
}


ion-card {
    width: 100%;
}

.back-icon {
    width: $width;
    height: $height;
}

.header_container {
    display: $display;
    justify-content: $justify-content-space-between;
    align-items: $center-align-items;
}

.add-icon {
    width: $width;
    height: $height;
}

.skill_container {
    display: $display;
    justify-content: $justify-content-space-between;
    margin-top: 10px;
}

.align_end {
    display: $display;
    justify-content: $justify-content-end;
}

.space-between {
    justify-content: $justify-content-space-between;
}

.empty-chart {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    /* top: 100px; */
    z-index: 20;
    background-color: #000;
    color: #fff;
    opacity: .6;
}

.empty-center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


ion-modal#resource-modal {
    --width: fit-content;
    --min-width: 300px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#resource-modal h1 {
    margin: 20px 20px 10px 20px;
}

ion-modal#resource-modal ion-icon {
    margin-right: 6px;
    // width: 48px;
    // height: 48px;
    padding: 4px 0;
    color: #aaaaaa;
}

ion-modal#resource-modal .wrapper {
    margin-bottom: 10px;
}

ion-icon {
    font-size: 20px; //Preferred size here
}

@mixin profileBaseClass {
    background: $profile-bg;
    border-radius: $profile-border-radious;
}

.profile_img {
    @include profileBaseClass;
    height: 99px;
    width: 99px;
    padding: 11px;
}

ion-item>ion-card {
    background: var(--card-bg);
}

ion-popover {
    &::part(content) {
        min-width: 230px;
    }
}

.custom-dropdown {
    display: $display;
    justify-content: $justify-content-center;
}

.search-dropdown-padding {
    width: 100%;
    margin-top: 13px;
    margin-bottom: 4px;
}

.bottom-btn {
    position: fixed;
    bottom: 0;
    width: 95%;
    left: 0;
    right: 0;
    margin: auto;
}

.filter-highlight {
    height: 13px;
    width: 13px;
    background-color: #dd2626;
    border-radius: 50%;
    position: absolute;
    left: 95%;
}