<ion-content [fullscreen]="true">
  <form [formGroup]="partnerForm">
    <ion-grid>
      <ion-row>
        <ion-input label-placement="floating" formControlName="name" fill="outline" [readonly]="isEnableEdit">
          <ion-text slot="label">Name<ion-text color="danger"> *</ion-text></ion-text>
        </ion-input>
        <ion-label
          *ngIf="partnerForm.controls['name'].invalid && (partnerForm.controls['name'].dirty || partnerForm.controls['name'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="partnerForm.controls['name'].errors?.['required'] ">
            This field is required.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-input label-placement="floating" formControlName="contact_person_name" fill="outline"
          [readonly]="isEnableEdit">
          <ion-text slot="label">Contact Person Name<ion-text color="danger"> *</ion-text></ion-text>
        </ion-input>
        <ion-label
          *ngIf="partnerForm.controls['contact_person_name'].invalid && (partnerForm.controls['contact_person_name'].dirty || partnerForm.controls['contact_person_name'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="partnerForm.controls['contact_person_name'].errors?.['required'] ">
            This field is required.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-input label-placement="floating" formControlName="contact_person_email_id" fill="outline"
          [readonly]="isEnableEdit">
          <ion-text slot="label">Contact Person Email Id <ion-text color="danger"> *</ion-text></ion-text>
        </ion-input>
        <ion-label
          *ngIf="partnerForm.controls['contact_person_email_id'].invalid && (partnerForm.controls['contact_person_email_id'].dirty || partnerForm.controls['contact_person_email_id'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="partnerForm.controls['contact_person_email_id'].errors?.['required']">
            This field is required.
          </ion-label>
          <ion-label *ngIf="partnerForm.controls['contact_person_email_id'].errors?.['email']">
            Enter valid e-mail.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-input type="number" label-placement="floating" formControlName="contact_person_phone" fill="outline"
          [readonly]="isEnableEdit">
          <ion-text slot="label">Contact Person Phone <ion-text color="danger"> *</ion-text></ion-text></ion-input>
        <ion-label
          *ngIf="partnerForm.controls['contact_person_phone'].invalid && (partnerForm.controls['contact_person_phone'].dirty || partnerForm.controls['contact_person_phone'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="partnerForm.controls['contact_person_phone'].errors?.['required'] ">
            This field is required.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-select label-placement="floating" interface="popover" formControlName="supported_mode" fill="outline"
          *ngIf="!isEnableEdit" aria-label="user" placeholder="Select User">
          <ion-text slot="label">Source Mode<ion-text color="danger"> *</ion-text></ion-text>
          <ion-select-option *ngFor="let user of supportMode" value={{user}}>{{user}}</ion-select-option>
        </ion-select>
        <!-- view state -->
        <ion-input label-placement="floating" formControlName="supported_mode" fill="outline" *ngIf="isEnableEdit"
          [readonly]="isEnableEdit">
          <ion-text slot="label">Source Mode<ion-text color="danger"> *</ion-text></ion-text>
        </ion-input>
      </ion-row>
      <ion-row>
        <ion-input label-placement="floating" formControlName="gstn" fill="outline" [readonly]="isEnableEdit">
          <ion-text slot="label">GSTN<ion-text color="danger"> *</ion-text></ion-text>
        </ion-input>
        <ion-label
          *ngIf="partnerForm.controls['gstn'].invalid && (partnerForm.controls['gstn'].dirty || partnerForm.controls['gstn'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="partnerForm.controls['gstn'].errors?.['required'] ">
            This field is required.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-input label-placement="floating" formControlName="pan" fill="outline" [readonly]="isEnableEdit">
          <ion-text slot="label">PAN<ion-text color="danger"> *</ion-text></ion-text>
        </ion-input>
        <ion-label
          *ngIf="partnerForm.controls['pan'].invalid && (partnerForm.controls['pan'].dirty || partnerForm.controls['pan'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="partnerForm.controls['pan'].errors?.['required'] ">
            This field is required.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-input label-placement="floating" formControlName="registration_number" fill="outline"
          [readonly]="isEnableEdit">
          <ion-text slot="label">Registration No<ion-text color="danger"> *</ion-text></ion-text>
        </ion-input>
        <ion-label
          *ngIf="partnerForm.controls['registration_number'].invalid && (partnerForm.controls['registration_number'].dirty || partnerForm.controls['registration_number'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="partnerForm.controls['registration_number'].errors?.['required'] ">
            This field is required.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-textarea label-placement="floating" formControlName="strength" fill="outline" [readonly]="isEnableEdit">
          <ion-text slot="label">Strength<ion-text color="danger"> *</ion-text></ion-text>
        </ion-textarea>
        <ion-label
          *ngIf="partnerForm.controls['strength'].invalid && (partnerForm.controls['strength'].dirty || partnerForm.controls['strength'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="partnerForm.controls['strength'].errors?.['required'] ">
            This field is required.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-textarea label-placement="floating" formControlName="address" fill="outline" [readonly]="isEnableEdit">
          <ion-text slot="label">Address<ion-text color="danger"> *</ion-text></ion-text>
        </ion-textarea>
        <ion-label
          *ngIf="partnerForm.controls['address'].invalid && (partnerForm.controls['address'].dirty || partnerForm.controls['address'].touched) || !onSubmit"
          class="alert alert-danger">
          <ion-label *ngIf="partnerForm.controls['address'].errors?.['required'] ">
            This field is required.
          </ion-label>
        </ion-label>
      </ion-row>
      <ion-card class="w-100">
        <ion-row>
          <ion-col class="card-user-info ">
            <ion-row class="d-flex justify-content-between">
              <ion-label class="skill-heading">Skills <ion-text color="danger"> *</ion-text></ion-label>
              <ion-label *ngIf="flag != 'edit'"><ion-icon class="add-icon" id="open-custom-dialog" expand="block"
                  name="add-circle-outline"></ion-icon></ion-label>
            </ion-row>
            <ion-row>
              <ion-list class="w-100" lines="none">
                <ion-item-sliding *ngFor="let skill of selectedSkillIds; let i = index" #sliding>
                  <ion-item id="open-modal" expand="block">
                    <ion-col class="skill-list d-flex justify-content-between w-100">
                      <div>
                        <ion-label class="w-100 skill-heading">{{skill.description}}</ion-label>
                        <ion-label class="w-100 skill-describe">{{skill.ratingName}}</ion-label>
                      </div>
                      <div>
                        <ion-label class="w-100 skill-side">{{skill.specialised_ind}} Y</ion-label>
                      </div>
                    </ion-col>
                  </ion-item>
                  <ion-item-options side="end" *ngIf="flag != 'edit'">
                    <ion-item-option color="light" (click)="deleteSkill(i,sliding)">
                      <ion-icon slot="icon-only" name="trash" name="trash-outline" size="small"
                        color="danger"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-list>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </form>

  <ion-modal id="skill-modal" [isOpen]="isModalOpen" showBackdrop="false" backdropDismiss="false" #modal
    *ngIf="flag != 'edit'" trigger="open-custom-dialog">
    <ng-template>
      <app-skill-card [skillList]="skillList" [flag]="module" (addSkill)="addSkill($event)"></app-skill-card>
    </ng-template>
  </ion-modal>
</ion-content>