<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item >
      <ion-input type="text" fill="outline" labelPlacement="floating" [value]="viewData?.resource_name" [readonly]="true">
        <div slot="label">Resource Name<ion-text color="danger"> *</ion-text></div>
      </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="text" fill="outline" labelPlacement="floating" [value]="viewData?.evaluated_by_name" [readonly]="true">
        <div slot="label">Evaluated By<ion-text color="danger"> *</ion-text></div>
      </ion-input>
    </ion-item>

  
    <ion-item>
      <ion-input type="text" fill="outline" labelPlacement="floating" [value]="viewData?.hiring_stage" [readonly]="true">
        <div slot="label">Hiring Stage<ion-text color="danger"> *</ion-text></div>
      </ion-input>
    </ion-item>

    <ion-item >
      <ion-input type="text" fill="outline" labelPlacement="floating" [value]="viewData?.hiring_status" [readonly]="true">
        <div slot="label">Hiring Status<ion-text color="danger"> *</ion-text></div>
      </ion-input>
    </ion-item>
    <ion-item >
      <ion-input type="text" fill="outline" labelPlacement="floating" [value]="viewData?.status" [readonly]="true">
        <div slot="label">Status<ion-text color="danger"> *</ion-text></div>
      </ion-input>
    </ion-item>
    
    <ion-item >
      <ion-input type="text" fill="outline" labelPlacement="floating" [value]="viewData?.evaluated_date" [readonly]="true">
        <div slot="label">Evaluated Date<ion-text color="danger"> *</ion-text></div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea type="text" fill="outline" labelPlacement="floating" [value]="viewData?.comments" [readonly]="true" >
        <div slot="label">Comments<ion-text color="danger"> *</ion-text></div>
      </ion-textarea>
    </ion-item>

    
    </ion-list>
</ion-content>